// Table

.box {
    position: relative;
    border-top: var(--root-border-table);
    border-left: var(--root-border-table);
    border-right: var(--root-border-table);
}

.table_wrapper {
    overflow-x: auto;
    width: 100%;
    position: relative;
    min-height: 300px;
}

.table {
    color: var(--table-color);
    padding: 0 1px;
    border-top: var(--root-border-table);
    width: 110%;
    border-collapse: collapse;
}

.table_head {
    background-color: #f7f7f7;
    height: 36px;
    tr {
        border-bottom: var(--root-border-table);
    }
    th {
        font-size: 12px;
        font-weight: 500;
        padding: 8px 12px;
        text-align: left;
        border: none;
        background-color: transparent;
        white-space: nowrap;
    }
}

.table_body {
    .no_rows {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 18px;
            text-align: center;
        }
    }

    tr {
        td {
            border-top: var(--root-border-table);
            font-size: 12px;
            font-weight: 500;
            padding: 8px 12px;
            text-align: left;
            white-space: nowrap;

            .info {
                display: flex;
                align-items: center;
                gap: 4px;

                a > svg {
                    height: 16px;
                    width: 16px;
                    display: flex;
                }
            }

            a {
                color: var(--cold-color);
            }

            a:hover {
                text-decoration: underline;
            }

            &:nth-child(5) {
                color: #8e0b21;
            }
        }
    }
}

.table_body tr.checked {
    background-color: #f1f1f1;
}

.table_action {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 36px;
    background-color: #fff;
    padding: 12px;
}

.table_action_item {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
